@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #0A3E03;
  height: 100vh;
  width: 100vw;
}

.App-header {
  height: 10vh;
  background-color: #0A3E03;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

.App-header-left {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
}

.App-header-right {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  background-color: #0A3E03;
}

.image-button {
  height: 50px;
  width: 50px;
}

.icon-button {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.image-button:hover {
  opacity: 0.5;
}

.room-image {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
}

.now-playing-image {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.song-message {
  display: flex;
  text-align: start;
  margin-top: 10px;
}

.App-content {
  height: 70vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #0A3E03;
  color: white;
}

.App-now-playing {
  height: 45vh;
  border-radius: 20px;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  background-color: #025034;
  color: white;
}

.App-request {
  border-radius: 20px;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  height: 20vh;
  display: flex;
  padding: 20px;
  padding-left: 40px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: #000000;
  color: white;
}
